ul, li{border:0; margin:0; padding:0; list-style:none;}
ul{
height:29px;
padding-left:20px;
}
li{float:left; margin-right:2px;}

.tab a:link, .tab a:visited{
background:url(images/tab-round.png) right 30px;
color:#666666;
display:block;
font-weight:bold;
height:30px;
line-height:30px;
text-decoration:none;
}
.tab a span{
background:url(images/tab-round.png) left 30px;
display:block;
height:30px;
margin-right:14px;
padding-left:14px;
}
.tab a:hover{
background:url(images/tab-round.png) right 0px;
display:block;
}
.tab a:hover span{
background:url(images/tab-round.png) left 0px;
display:block;
}

/* -------------------------------- */
/* ACTIVE ELEMENTS */
.active a:link, .active a:visited, .active a:visited, .active a:hover{
background:url(images/tab-round.png) right 0 no-repeat;
}
.active a span, .active a:hover span{
background:url(images/tab-round.png) left 0 no-repeat;
}
